<div class="flex gap-2 my-2">
  <button mat-raised-button color="primary" [ngClass]="{active: current === example}" (click)="current=example"
    [routerLink]="example" *ngFor="let example of examples">
    {{example}}
  </button>
</div>
<router-outlet></router-outlet>
