<h3 class="title">Przetwarzanie strumienia danych. Poniżej wybrane operatory.</h3>
<div class="flex gap-2">
  <div>
    <div class="flex gap-2 my-2" *ngFor="let type of operators | keyvalue">
      <span class="self-center">{{type.key}} >></span>
      <button mat-raised-button [disabled]="onProgress | async" color="primary"
        [ngClass]="{active: current === operator.key}" (click)="run(operator.value)"
        *ngFor="let operator of type.value | keyvalue">
        {{operator.key}}
      </button>
    </div>
  </div>
  <div>
    <h4 class="text-green-700 font-bold" #description></h4>
    <pre class="bg-green-100 rounded" #content></pre>
  </div>
</div>
