<h3 class="title">Tworzenie strumieni.</h3>
<div style="display: inline-grid; grid-template-columns: 1fr 1fr;">
  <p>
    Strumienie dzielimy na 2 podstawowe grupy: Observable i Subject.
    <br>
    Subjectów są 4 rodzaje.
    <br>
    Tabelka pokazuje podstawowe różnice.
  </p>
</div>
<img src="assets/oLsZ4.png">
<br>
<br>
<div class="flex gap-2">
  <div>
    <div class="flex gap-2 my-2" *ngFor="let type of streamTypes | keyvalue">
      <span class="self-center">{{type.key}} >></span>
      <button mat-raised-button [disabled]="onProgress | async" color="primary" [ngClass]="{active: current === stream.key}"
        (click)="run(stream.value)" *ngFor="let stream of type.value | keyvalue">
        {{stream.key}}
      </button>
    </div>
  </div>
  <div>
    <h4 class="text-green-700 font-bold" #description></h4>
    <pre class="bg-green-100 rounded" #content></pre>
  </div>

</div>
