<div class="p-4 h-fit bg-gray-100 ">

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <a mat-tab-link *ngFor="let item of nav" [routerLink]="item" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive" [innerHTML]='item | uppercase'>
          </a>
        </nav>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-nav-panel #tabPanel>
        <div class="p-4">
          <router-outlet></router-outlet>
        </div>
      </mat-tab-nav-panel>
      <br>
      v. {{version}}
    </mat-card-content>
  </mat-card>

  <course-footer courses></course-footer>

</div>
